<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <style>
        html, body, .body {
            background-color: rgb(26, 51, 83);
            color: rgb(245, 245, 245);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        a {
            color: rgb(177, 255, 255);
        }

        .container {
          background-color: rgb(16, 41, 73);
          border-left: 0.5vh solid black;
          border-right: 0.5vh solid black;
        }

        .header {
            background-color: rgb(6, 23, 44);
            display: flex;
            padding: 1vh;
        }

        #colorh {
            color: rgb(201, 201, 201);
        }

        #title {
            color: rgb(238, 238, 120);
        }
    </style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(6, 23, 44);">
        <!--<a class="navbar-brand" href="#"></a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/spims">Gallery view</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/spimslist">List view</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>