{% extends 'placenta/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container text-center" style="height: 100%;">
    <div class="text-center" style="height: 50%; display: flex; align-items: center; justify-content: center;">
        <div>
            <h1 id="title">Home</h1>
            <br>
            <p>Run 'python manage.py initialize' to initialize the database.</p>
            <a class="btn btn-outline-light" href="/spims">Gallery view</a>
            <br>
            <br>
            <a class="btn btn-outline-light" href="/spimslist">List view</a>
        </div>
    </div>
</div>
{% endblock %}