{% extends 'placenta/base.html' %}

{% block title %}
mask
{% endblock %}

{% block content %}
<div>
    <h1>Mask</h1>
    <h2><a href="../">Spectral Image</a></h2>
    <hr>
    <div style="text-align:center;">
        <h2>{{item.file_name}}</h2>
        <script defer>
            //TO DO: Clean up and comment the code
            //TO DO: Add hide all button
            
            const render = function(){
                const canvasObj = document.getElementById("view-canvas");
                console.log("render");
                const givenMasksCSV = `{{ item.csv_data }}`.replace(/\n/g," ");
                const sideListSizes = {
                    w: 200,
                    tabH: 45,
                    pointLocationsArrayIsEmpty: true,
                };
                const pointLocationsArray = [];
                const tifImage = document.createElement("img");
                const savedRender = {
                    exists: false,
                    image: [],
                }
                const rgbImage = {
                    w: Math.floor(parseInt("{{ item.image_width }}")/3),
                    h: Math.floor(parseInt("{{ item.image_height }}")/3),
                    rgbData: {{ item.rgb_image_data }},
                }
                console.log("width:"+rgbImage.w);
                console.log("height:"+rgbImage.h);
                
                const mainCanvas = {
                    c: canvasObj.getContext("2d"),
                    w: rgbImage.w+sideListSizes.w,
                    h: rgbImage.h,
                    mouseX: 0,
                    mouseY: 0,
                }
                canvasObj.style.width = mainCanvas.w+"px";
                canvasObj.style.height = mainCanvas.h+"px";
                canvasObj.width = mainCanvas.w;
                canvasObj.height = mainCanvas.h;

                const setColor = function(givenColor){
                    let colorToBeSet = "#FFFFFF";
                        switch(givenColor){
                            case "black":
                                colorToBeSet = "#000000";
                                break;
                            case "white":
                                colorToBeSet =  "#FFFFFF";
                                break;
                        }
                    mainCanvas.c.fillStyle = colorToBeSet;
                }

                const renderImage = function(){
                    const newImage = mainCanvas.c.createImageData(rgbImage.w,rgbImage.h);
                    for(i=0;i<rgbImage.rgbData.length/3;i++){
                        newImage.data[(i*4)] = rgbImage.rgbData[(i*3)];
                        newImage.data[(i*4)+1] = rgbImage.rgbData[(i*3)+1];
                        newImage.data[(i*4)+2] = rgbImage.rgbData[(i*3)+2];
                        newImage.data[(i*4)+3] = 255;
                    }
                    mainCanvas.c.putImageData(newImage,0,0);
                }

                const clearAll = function(){
                    const saveCurrentColor = mainCanvas.c.fillStyle;
                    mainCanvas.c.clearRect(0,0,mainCanvas.w, mainCanvas.h);
                    setColor("white");
                    mainCanvas.c.fillStyle = saveCurrentColor;
                    renderImage();
                }

                const createMaskObject = function(givenCSV){
                    const maskArray = givenCSV.split("; ");
                    let masksObject = [];
                    
                    for(i=0;i<Math.floor(maskArray.length/4);i++){
                        const newMask = {
                            name: maskArray[0+(i*4)],
                            color: maskArray[2+(i*4)],
                            coordinates: maskArray[3+(i*4)],
                        }
                        masksObject.push(newMask);
                    }
                    return masksObject;
                }
                const masks = createMaskObject(givenMasksCSV);

                const renderSideList = function(){
                    mainCanvas.c.font = "bold 15px Arial";
                    mainCanvas.c.strokeStyle = "#000000";

                    for(b=0;b<pointLocationsArray.length;b++){
                        if(pointLocationsArray[b].visible){
                            mainCanvas.c.fillStyle = pointLocationsArray[b].color;
                        }else{
                            mainCanvas.c.fillStyle = "#555555";
                        }
                        mainCanvas.c.fillRect(rgbImage.w,b*sideListSizes.tabH,sideListSizes.w,sideListSizes.tabH);
                        setColor("white");
                        mainCanvas.c.shadowColor = "black";
                        mainCanvas.c.shadowBlur = 6;
                        if(!pointLocationsArray[b].visible){
                            mainCanvas.c.fillStyle = "#000000";
                            mainCanvas.c.shadowBlur = 0;
                        }
                        mainCanvas.c.fillText(pointLocationsArray[b].name,rgbImage.w+15,(b*sideListSizes.tabH)+Math.floor(sideListSizes.tabH/2)+6);
                        mainCanvas.c.shadowBlur = 0;
                        if(pointLocationsArray[b].highlighted){
                            mainCanvas.c.lineWidth = 4;
                            mainCanvas.c.strokeStyle = "#000000";
                            mainCanvas.c.strokeRect(rgbImage.w+2,b*sideListSizes.tabH+2,sideListSizes.w-4,sideListSizes.tabH-4);
                        }
                        mainCanvas.c.lineWidth = 1;
                        mainCanvas.c.strokeStyle = pointLocationsArray[b].color;
                        for(a=0;a<pointLocationsArray[b].coordinates.length;a++){
                            if(pointLocationsArray[b].visible&&pointLocationsArray[b].highlighted){
                                const point = pointLocationsArray[b].coordinates[a].split(":");
                                mainCanvas.c.beginPath()
                                mainCanvas.c.moveTo(point[0],point[1]);
                                mainCanvas.c.lineTo(rgbImage.w,b*sideListSizes.tabH+Math.floor(sideListSizes.tabH/2));
                                mainCanvas.c.stroke();
                            }
                        }
                    }
                }

                const drawMasks = function(){
                    const saveCurrentColor = mainCanvas.c.fillStyle;
                    for(a=0;a<masks.length;a++){
                        const colors = masks[a].color.split(", ");
                        let r = parseInt(colors[0]).toString(16);
                        let g = parseInt(colors[1]).toString(16);
                        let b = parseInt(colors[2]).toString(16);
                        if(r.toString().length<2){
                            r = r+"0";
                        }
                        if(g.toString().length<2){
                            g = g+"0";
                        }
                        if(b.toString().length<2){
                            b = b+"0";
                        }
                        mainCanvas.c.fillStyle = "#"+r+g+b;

                        let draw = true;

                        console.log("drawing: " + masks[a].name);
                        const coordsArray = masks[a].coordinates.split(";");
                        if(pointLocationsArray.length>0){
                            for(c=0;c<pointLocationsArray.length;c++){
                                if(pointLocationsArray[c].name==masks[a].name){
                                    if(pointLocationsArray[c].visible==false){
                                        draw = false;
                                        c=pointLocationsArray.length;
                                    }
                                }
                            }
                        }

                        if(draw){
                            mainCanvas.c.beginPath();
                            mainCanvas.c.moveTo(coordsArray[0].split(",")[0],coordsArray[0].split(",")[1]);
                            for(i=1;i<coordsArray.length;i++){
                                mainCanvas.c.lineTo(coordsArray[i].split(",")[0],coordsArray[i].split(",")[1]);
                            }
                            mainCanvas.c.closePath();
                            mainCanvas.c.fill();
                            setColor("black");
                        }
                        
                        let addMaskType = true;

                        //If array is empty add the masks
                        if(sideListSizes.pointLocationsArrayIsEmpty){
                            for(i=0;i<pointLocationsArray.length;i++){
                                if(pointLocationsArray[i].name===masks[a].name){
                                    addMaskType = false;
                                    pointLocationsArray[i].coordinates.push(coordsArray[0].split(",")[0]+":"+coordsArray[0].split(",")[1])
                                }
                            }
                            if(addMaskType){
                                pointLocationsArray.push({
                                    name: masks[a].name,
                                    color: "#"+r+g+b,
                                    coordinates: [coordsArray[0].split(",")[0]+":"+coordsArray[0].split(",")[1]],
                                    highlighted: false,
                                    visible: true,
                                });
                            }
                        }
                    }
                    
                    mainCanvas.c.fillStyle = saveCurrentColor;
                    savedRender.image = mainCanvas.c.getImageData(0,0,rgbImage.w,rgbImage.h);
                    savedRender.exists = true;

                    sideListSizes.pointLocationsArrayIsEmpty = false;
                }
                

                const removeHighlights = function(){
                    for(i=0;i<pointLocationsArray.length;i++){
                        pointLocationsArray[i].highlighted = false;
                    }
                }

                const update = function(){
                    if(!savedRender.exists){
                        clearAll();
                        drawMasks(givenMasksCSV);
                    }else{
                        mainCanvas.c.putImageData(savedRender.image,0,0);
                    }
                    renderSideList();
                }
                
                update();

                //Cursor type and mouse coordinates
                canvasObj.addEventListener("mousemove",(currentEvent)=>{
                    if(currentEvent.clientX>rgbImage.w){
                        mainCanvas.x = currentEvent.clientX-canvasObj.getBoundingClientRect().x;
                        mainCanvas.y = currentEvent.clientY-canvasObj.getBoundingClientRect().y;
                        removeHighlights();
                        if(mainCanvas.x>=rgbImage.w&&mainCanvas.y<pointLocationsArray.length*sideListSizes.tabH){
                            canvasObj.style = "cursor:pointer;";
                            pointLocationsArray[Math.floor((mainCanvas.y/(pointLocationsArray.length*sideListSizes.tabH))*pointLocationsArray.length)].highlighted = true;
                        }else if(mainCanvas.x<rgbImage.w||mainCanvas.y>pointLocationsArray.length*sideListSizes.tabH){
                            canvasObj.style = "cursor:default;";
                        }
                        update();
                    }
                });
                canvasObj.addEventListener("mouseleave",()=>{removeHighlights();update();});
                canvasObj.addEventListener("click",()=>{
                    const selectedMask = Math.floor((mainCanvas.y/(pointLocationsArray.length*sideListSizes.tabH))*pointLocationsArray.length)
                    if(pointLocationsArray[selectedMask].visible){
                        pointLocationsArray[selectedMask].visible = false;
                    }else{
                        pointLocationsArray[selectedMask].visible = true;
                    }
                    console.log("visble");
                    renderImage();
                    drawMasks();
                    update();
                });
            }
            window.addEventListener("DOMContentLoaded",()=>{render();});
        </script>
        <canvas id="view-canvas"></canvas>
    </div>
</div>
{% endblock %}