{% extends 'placenta/base.html' %}

{% block title %}
Update metadata
{% endblock %}

{% block content %}

<script>
  
  function floatInput(event) {
    return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46))
  }
  
  function intInput(event) {
    return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))
  }

</script>

<div class="container">
    <div class="row">
        
        <div class="text-center">
            <h1 id="title">{{file_name}} - metadata</h1>     
            <img src="{{path_to_thumbnail}}" class="img-fluid" style="border: 0.5vh solid black; border-radius: 10px;">
        </div>
    </div>
     <form action="{% url 'update-spim' pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="PUT" name="method_">
        
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-light" style="width: 50%;">Update</button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="metadata" class="form-label">Spectral Image Cube Metadata</label>
              <input type="text" class="form-control" id="metadata" name="metadata">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="patient_id" class="form-label">Patient ID</label>
              <input type="text" class="form-control" id="patient_id" name="patient_id">
            </div>
            <div class="mb-3">
              <label for="image_identifier" class="form-label">Image identifier</label>
              <input type="text" class="form-control" id="image_identifier" name="image_identifier">
            </div>
            <div class="mb-3">
              <label for="hsi_camera_name" class="form-label">HSI camera name</label>
              <input type="text" class="form-control" id="hsi_camera_name" name="hsi_camera_name">
            </div>
            <div class="mb-3">
              <label for="hsi_adapter_name" class="form-label">HSI adapter name</label>
              <input type="text" class="form-control" id="hsi_adapter_name" name="hsi_adapter_name">
            </div>
            <div class="mb-3">
              <label for="reference" class="form-label">Reference</label>
              <input type="text" class="form-control" id="reference" name="reference">
            </div>
            <div class="mb-3">
              <label for="hsi_software_name" class="form-label">HSI software name</label>
              <input type="text" class="form-control" id="hsi_software_name" name="hsi_software_name">
            </div>
            <div class="mb-3">
              <label for="acquisition_type" class="form-label">Acquisition type </label>
              <input type="text" class="form-control" id="acquisition_type" name="acquisition_type">
            </div>
            <div class="mb-3">
              <label for="hsi_sequence_version" class="form-label">HSI sequence version</label>
              <input type="text" class="form-control" id="hsi_sequence_version" name="hsi_sequence_version">
            </div>
            <div class="mb-3">
              <label for="data_size" class="form-label">Data size</label>
              <input type="text" class="form-control" id="data_size" name="data_size" onkeypress="return floatInput(event)">
            </div>
            <div class="mb-3">
              <label for="bandpass_range" class="form-label">Bandpass range</label>
              <input type="text" class="form-control" id="bandpass_range" name="bandpass_range" readonly>
            </div>
            <div class="mb-3">
              <label for="imaging_light_intensity" class="form-label">Imaging light intensity</label>
              <input type="text" class="form-control" id="imaging_light_intensity" name="imaging_light_intensity" onkeypress="return floatInput(event)">
            </div>
            <div class="mb-3">
              <label for="imaging_focal_length" class="form-label">Imaging focal length</label>
              <input type="text" class="form-control" id="imaging_focal_length" name="imaging_focal_length" onkeypress="return floatInput(event)">
            </div>

          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="diagnosis" class="form-label">Diagnosis</label>
              <input type="text" class="form-control" id="diagnosis" name="diagnosis">
            </div>
            <div class="mb-3">
              <label for="image_series_identifier" class="form-label">Image series identifier</label>
              <input type="text" class="form-control" id="image_series_identifier" name="image_series_identifier">
            </div>
            <div class="mb-3">
                <label for="optic_imaging_system" class="form-label">Optic imaging system</label>
                <input type="text" class="form-control" id="optic_imaging_system" name="optic_imaging_system">
              </div>
              <div class="mb-3">
                <label for="environment_description" class="form-label">Environment description</label>
                <input type="text" class="form-control" id="environment_description" name="environment_description">
              </div>
              <div class="mb-3">
                <label for="light_source_description" class="form-label">Light source description</label>
                <input type="text" class="form-control" id="light_source_description" name="light_source_description">
              </div>
              <div class="mb-3">
                <label for="hsi_software_version" class="form-label">HSI software version</label>
                <input type="text" class="form-control" id="hsi_software_version" name="hsi_software_version">
              </div>
              <div class="mb-3">
                <label for="hsi_sequence_name" class="form-label">HSI sequence name</label>
                <input type="text" class="form-control" id="hsi_sequence_name" name="hsi_sequence_name">
              </div>
              <div class="mb-3">
                <label for="timestamp" class="form-label" id="datetext">Timestamp: </label>
                <input type="datetime-local" class="form-control" id="timestamp" name="timestamp">
              </div>
              <div class="mb-3">
                <label for="resolution" class="form-label">Resolution</label>
                <input type="text" class="form-control" id="resolution" name="resolution" readonly>
              </div>
              <div class="mb-3">
                <label for="frames" class="form-label">Frames</label>
                <input type="text" class="form-control" id="frames" name="frames" onkeypress="return intInput(event)">
              </div>
              <div class="mb-3">
                <label for="imaging_magnification" class="form-label">Imaging magnification</label>
                <input type="text" class="form-control" id="imaging_magnification" name="imaging_magnification" onkeypress="return floatInput(event)">
              </div>
              <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <input type="text" class="form-control" id="notes" name="notes">
              </div>
          </div>
        </div>
        <br>
      </form>
</div>

<script defer type="text/javascript">
  document.getElementById("metadata").value = "{{metadata}}";
  document.getElementById("patient_id").value = "{{patient_id}}";
  document.getElementById("diagnosis").value = "{{diagnosis}}";
  document.getElementById("image_identifier").value = "{{image_identifier}}";
  document.getElementById("image_series_identifier").value = "{{image_series_identifier}}";
  document.getElementById("hsi_camera_name").value = "{{hsi_camera_name}}";
  document.getElementById("optic_imaging_system").value = "{{optic_imaging_system}}";
  document.getElementById("hsi_adapter_name").value = "{{hsi_adapter_name}}";
  document.getElementById("environment_description").value = "{{environment_description}}";
  document.getElementById("reference").value = "{{reference}}";
  document.getElementById("light_source_description").value = "{{light_source_description}}";
  document.getElementById("hsi_software_name").value = "{{hsi_software_name}}";
  document.getElementById("hsi_software_version").value = "{{hsi_software_version}}";
  document.getElementById("acquisition_type").value = "{{acquisition_type}}";
  document.getElementById("hsi_sequence_name").value = "{{hsi_sequence_name}}";
  document.getElementById("hsi_sequence_version").value = "{{hsi_sequence_version}}";
  document.getElementById("datetext").innerHTML = "Timestamp: {{timestamp}}";
  document.getElementById("data_size").value = "{{data_size}}";
  document.getElementById("resolution").value = "{{resolution}}";
  document.getElementById("bandpass_range").value = "{{bandpass_range}}";
  document.getElementById("frames").value = "{{frames}}";
  document.getElementById("imaging_light_intensity").value = "{{imaging_light_intensity}}";
  document.getElementById("imaging_magnification").value = "{{imaging_magnification}}";
  document.getElementById("imaging_focal_length").value = "{{imaging_focal_length}}";
  document.getElementById("notes").value = "{{notes}}";
</script>
{% endblock %}

