{% extends 'placenta/base.html' %}

{% block title %}
Spectral Images
{% endblock %}

{% block content %}

<div class="container" style="height: 100%;">

    <br>
    <h1 id="title" class="text-center">Spectral Images</h1>
    <br>
    <div class="" style="display:flex; justify-content: center;">
        <div class="col-md-6 text-center" style="border: 0.5vh solid black; border-radius: 2vh; background-color:rgba(0,0,0,0.25);">
            <h4 id="colorh">Upload spectral image(s) from TIF files</h4>
            <form action="{% url 'spims' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{form.file}}
                    <input type="submit" class="btn btn-outline-light"  value="Upload" />
                </div>
            </form>

        </div>
    </div>
    <br>
    <div class="row">
        {% for item in list %}
        <div class="col text-center">
            {% load static %}
                <a href="../spim/{{item.pk}}/" style="text-decoration: none;">
                    <img src="{{item.img_name}}"
                        style="vertical-align:middle; border: 0.5vh solid black; border-radius: 10px;">
                </a>
            
            <h3 class=""><a class="btn" style="color: white;" href="../spim/{{item.pk}}/">{{item.file_name}}</a></h3>
            </div>
        {% endfor %}
    </div>
    <!--<ul style="list-style: none;  column-count: 3;">
        {% for item in list %}
        <li>
            {% load static %}
                <a href="../spim/{{item.pk}}/" style="text-decoration: none;">
                    <img src="{{item.img_name}}"
                        style="vertical-align:middle; border: 0.5vh solid black; border-radius: 10px;">
                </a>
            
            <h3><a href="../spim/{{item.pk}}/">{{item.file_name}}</a></h3>
        </li>
        {% endfor %}
    </ul>-->
</div>
{% endblock %}


{% if condition == True %}
{% endif %}