{% extends 'placenta/base.html' %}

{% block title %}
Spectral Images
{% endblock %}

{% block content %}

<div class="container" style="height: 100%;">

    <br>
    <h1 id="title" class="text-center">Spectral Images</h1>
    <br>
    <div class="" style="display:flex; justify-content: center;">
        <div class="col-md-6 text-center" style="border: 0.5vh solid black; border-radius: 2vh; background-color:rgba(0,0,0,0.25);">
            <h4 id="colorh">Upload spectral image(s) from TIF files</h4>
            <form action="{% url 'spims' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{form.file}}
                    <input type="submit" class="btn btn-outline-light"  value="Upload" />
                </div>
            </form>

        </div>
    </div>
    <br>
    <table class="table table-hover" style="color:white">
        <thead>
          <tr>
            <th scope="col">PK</th>
            <th scope="col"></th>
            <th scope="col">Label</th>
            <th scope="col">Date</th>
            <th scope="col">Size</th>
            <th scope="col">Metadata</th>
          </tr>
        </thead>
        <tbody>
            {% for item in list %}
            {% load static %}
                <tr>
                    <th scope="row">{{item.pk}}</th>
                    <td><a href="../spim/{{item.pk}}/" style="text-decoration: none;">
                        <img src="{{item.img_name}}"
                            style="vertical-align:middle; border: 0.25vh solid black; border-radius: 5px; width: 5vh;">
                    </a></td>
                    <td><h3 class=""><a class="btn" style="color: white;" href="../spim/{{item.pk}}/">{{item.file_name}}</a></h3></td>
                    <td>{{item.date}}</td>
                    <td>{{item.size}} bytes</td>
                    <td>{{item.metadata}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}

{% if condition == True %}
{% endif %}