{% extends 'placenta/base.html' %}

{% block title %}
Spectral Image
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="text-center" id="title">Spectral Image: {{item.file_name}}</h1>
    <div class="text-center">
        <a href="./metadata" class="btn btn-outline-warning ">Update spectral image metadata</a>

    </div>
    <br>
    <style>
        .maskButton{
            background-color: blue;
            color: white;
            text-shadow:0 0 12px black;
            min-width: 200px;
            min-height: 40px;
            border-style: none;
            text-align: left;
            border-color: black;
            font-weight: bold;
        }
        .maskButton:hover{
            border-style: solid;
        }
    </style>
    <div style="display:grid;" id="viewDiv">
        <script>
            const allMasks = [];
        </script>
        {% for mask in item.mask_list %}
        <script>
            allMasks.push({
                label: '{{mask.label}}',
                pk: '{{mask.pk}}',
                path: '{{mask.png_path}}',
                on: true,
            });
        </script>
        {% endfor %}
        <script>
            console.log(allMasks);
        </script>
        <script defer>
            const stringToArray = function(givenString,givenSplit){
                const newSplit = givenString.replace(/\[/g,'').replace(/\]/g,'').replace(/\nl/g,'').replace(/\n/g,'').replace(/&#x27;/g,'').split(givenSplit);
                const newArray = [];
                newSplit.forEach((currentSplit)=>{
                    if(currentSplit!=""){
                        newArray.push(currentSplit);
                    }
                });
                return newArray;
            }
            const waveArray = stringToArray(`{{item.wavelengths}}`,' ');
            console.log(waveArray);
            const givenMasksCSV = `{{ item.csv_data }}`;
            const rgbImage = {
                w: Math.floor(parseInt('{{ item.image_width }}')/3),
                h: Math.floor(parseInt('{{ item.image_height }}')/3),
                rgbData: stringToArray(`{{ item.rgb_image_data }}`,', '),
            }
            const imageID = '{{item.id}}';
            </script>
        {% load static %}
        <script src="{% static 'scripts/spimView.js' %}" defer></script>
        <div style="grid-row:1;text-align: right;"><canvas id="view-canvas"></canvas></div>
        <!--<div style="width:200px;grid-row:1;" id="maskList"></div>-->

        <div style="width:20vw; border: 0.5vh solid black; border-radius: 2vh; padding:1vh; grid-row:1; background-color: rgba(0,0,0,0.25);">
            <h3 id="title">Masks:</h3>
            <div style="border: 0.5vh solid rgb(190, 190, 190); border-radius: 10px; padding: 0.5vh">
                <form action="{% url 'create-ind-mask' pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        Upload new mask:
                        {{maskform.file}}
                    </p>
                    
                    <label for="label">Mask label:</label>
                    <input type="text" class="form-control"  name="label">
                    <input type="hidden" value="{{ item.annot_pk }}" name="annot_pk">
                    <input class="btn btn-outline-light" type="submit" value="Add new mask" />
                </form>
            </div>
            <div style="height: 0.5vh;"></div>
            
            <ul style="list-style: none; padding-left: 0; overflow-y: auto; overflow-x: hidden; height: 50vh;">
            {% for mask in item.mask_list %}
                <li style="vertical-align:middle; border: 0.5vh solid rgb(190, 190, 190); border-radius: 10px; padding:0.5vh; width: 99%;" id="mask_row_{{mask.pk}}">
                    
                    <form action="{% url 'update-ind-mask' pk %}" method="post" enctype="multipart/form-data">
                    <input type="text" class="form-control"  value="{{mask.label}}" name="mask_label" style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{mask.png_path}}" id="mask_{{mask.pk}}" style="width:10vh; vertical-align:middle; border: 0.5vh solid black; border-radius: 10px; cursor: pointer;">
                        </div>
                        <div class="col-sm-8">
                                    
                                    {% csrf_token %}
                                    <p required="false">
                                        {{maskform.file}}
                                    </p>
                                    
                                    <div class="row">
                                        <div class="col-sm-6">

                                    <input type="hidden" value="{{ mask.pk }}" name="mask_pk">
                                    <input type="hidden" value="{{ item.annot_pk }}" name="annot_pk">
                                    <input class="btn btn-outline-light" type="submit" value="Update" />
                                </form>
                                </div>
                                <div class="col-sm-6">
                                    <form action="{% url 'delete-ind-mask' pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ mask.pk }}" name="mask_pk">
                                        <input type="hidden" value="{{ item.annot_pk }}" name="annot_pk">
                                        <input class="btn btn-outline-danger" type="submit" value="Delete" />
                                    </form>
                                    
                                </div>
                            </div>

                        
                            <div>
                            </div>
                            
                        </div>
                    </div>
                </li>
                <div style="height: 0.5vh;"></div>
            {% endfor %}
            </ul>
        </div>
        
    </div>

    <div class="text-center">
        <p id="wavelengthName"></p>
        <input type="range" min="1" max="20" step="1" value="1" id="bandSlider" onInput="getWavelength();">
        <button style="width:100px;height:50px;border:none;background-color:rgb(202, 202, 202);font-size:20px;visibility:hidden;" id="stateButton">Bands</button>

    </div>
    
    <br>
    <div class="text-center" style="display: flex; justify-content: center">
        <div class="row" style="border: 0.5vh solid black; border-radius: 2vh; width: 75%; background-color: rgba(0,0,0,0.25);">
            <h2 id="title">Annotation (collection of masks): {{item.mask_name}}</h2>
            <div class="col-md-6">
                <h3 id="colorh">Upload annotation file</h3>
                <div>
                    <form action="{% url 'upload-annotation' pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            {{annform.file}}
                            <input class="btn btn-outline-light" type="submit" value="Upload" />
                        </p>
                    </form>
                </div>

            </div>
            <div class="col-md-6">
                <h3 id="colorh">Delete annotation</h3>
                <div>
                    <form action="{% url 'delete-annotation' pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ item.pk }}" name="pk">
                        <input  class="btn btn-outline-danger" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    <br>
    </div>
    <br>
    <div class="text-center">
        <form action="{% url 'spim' pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.pk }}" name="pk">
            <input type="submit" class="btn btn-outline-danger text-center" value="Delete spectral image" />
        </form>
    </div>
    <br>
</div>
{% endblock %}