{% extends 'placenta/base.html' %}

{% block title %}
Error
{% endblock %}

{% block content %}
<div class="container text-center" style="height: 100%;">
    <div class="text-center" style="height: 50%; display: flex; align-items: center; justify-content: center;">
        <div>
            <h1 id="title" style="color:red;">Error 500</h1>
            <h2>Internal server error</h2>
            <br>
            <input class="btn btn-outline-light" type=button value="Go back" onClick="javascript:history.go(-1);">
            <br>
            <br>
            <a class="btn btn-outline-light" href="/">Go home</a>
    
        </div>
    </div>
</div>
{% endblock %}